.bar-container {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #5F5F5F;
    height: 100%;
    width: 150px;
    gap: 10px;
    padding: 10px;
    position: relative;
    transition: width 0.5s ease;
}

.buttons-container.open {
    width: 250px;
}

.chevron-button {
    background-color: #012369;
    position: absolute;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}
