.textual-button-container {
  width: 100%;
}

.textual-button-container button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8em;
  height: 48px;
  border-radius: 43rem;
  width: 100%;
  color: white;
  border: none;
  cursor: pointer;

  img {
    width: 2em;
  }

  @media (max-width: 768px) {
    font-size: 0.7em;
  }
}
