/* .card-container{
    margin-top: 10rem;
    min-height: 100vh;
    max-width: 69%;
    padding: 0.5rem;
    gap: 1rem;
    border: 1px solid black;
    display: flex;
    justify-content:center;
    flex-flow: wrap;
    position: relative;
} */

.card {
  border: 2px solid black;
  background-color: white;
  border-radius: 1.25rem;
  height: 10rem;
  width: 25.81rem;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0.9rem;
}

.card.available {
  border-color: #259821;
}

.card.unavailable {
  border-color: #ff0000;
}

.card .name {
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem;
  gap: 5px;

  .logo {
    width: 1.5rem;
  }
}

.card .title {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
}

.card .status {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: -2.7rem;

  .statuslogo {
    align-items: center;
    width: 1rem;
  }
}

.card .info {
  position: static;
  display: flex;
  align-items: center;
  gap: 6px;

  .case {
    width: 1.5rem;
  }
}

.card .amount {
  display: flex;
  align-items: center;
  gap: 7px;

  .user {
    width: 1.5rem;
  }
}
