.accordionContainer {
  border-radius: 1.25em;
  background-color: #ecebeb;

  .accordionHeader {
    font-size: 25px;
    display: flex;
    padding-left: 2em;
    font-weight: bold;
    cursor: pointer;
    align-items: center;

    img {
      width: 1.5em;
      transition: transform 0.3s ease-in-out;
      margin: 1em;
    }
  }

  .accordionContent {
    padding: 1em 3em;
    margin-bottom: 20px;
  }
}
