.externalContainer {
    max-height: 100vh;
    max-width: 100%;
  }
  
  .externalContainer .grid-container {
    top: 15rem;
    left: 7rem;
    max-height: 30rem;
    max-width: 82rem;
    padding: 0.5rem;
    gap: 1rem;
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    position: relative;
    overflow-y: scroll;
    border: 1px solid black;
  }