.card-grid {
    max-height: 100vh;
    max-width: 100%;
    padding: 50px;
    gap: 1rem;
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    position: relative;
    overflow-y: scroll;
    border: 1px solid black;
}
