.rightSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  text-align: center;

  @media (max-width: 768px) {
    width: 100vw;
  }

  .titleContainer {
    font-size: 1em;

    @media (max-width: 768px) {
      flex-direction: column;
      font-size: 0.8em;
      padding: 1em;
    }
  }

  .buttonContainer {
    padding: 3.8em;

    .externalRegistrationButton {
      background-color: #012369;
      border: #012369, solid, 1px;
      padding: 0 6em;
      margin: 2em;
      gap: 1em;
      justify-content: space-around;
    }
  }

  .emailButton {
    background-color: white;
    border: #d4d2e3, solid, 1px;
    color: #505050;
    padding: 0 6em;
    margin: 2em;
    gap: 1em;
    justify-content: space-around;
  }
}

.loginContainer {
  a {
    color: black;
    font-weight: bold;
    font-style: italic;
  }
}

.informationContainer {
  color: #959595;
  margin: 1.2em;
  padding: 0em 8em;

  a {
    color: #959595;
    font-weight: bold;
    font-style: italic;
  }

  @media (max-width: 768px) {
    font-size: 0.7em;
  }
}
