.header-container {
  width: 100%;
  height: 80px;
  background-color: #012369;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
}

.header-container p {
  font-size: 1.7em;
  text-wrap: nowrap;
}

.header-container .left-Header {
  width: 50vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.header-container .right-Header {
  width: 50vw;
  display: flex;
  justify-content: space-between;
}

.header-container .toggleContainer {
  position: absolute;
  z-index: 2;
  top: 57px;
  left: calc(50% - 80px);
}

.header-container .icons-container {
  display: flex;
  gap: 0.9em;
  width: 100%;
  justify-content: right;
}

.header-container .input-Src {
  width: 15rem;
  height: 2rem;
  border-radius: 0.7rem;
  padding: 1rem;
  border: none;
}

.header-container .searchIcon {
  position: absolute;
  margin-left: 210px;
}

.header-container .menu {
  width: 2.5rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header-container .title-Header {
  width: 100%;
  margin: 0 10%;
}

.header-container .sino {
  height: 2.3rem;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.header-container .perfil {
  height: 2.3rem;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.input-with-icon {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 20%;
}

.input-Src {
  flex: 1;
  padding-right: 2rem;
}

.searchIcon {
  position: absolute;
  right: 0.5rem;
  height: 1.5rem;
}

@media (max-width: 1026px) and (min-width: 770px) {
  .header-container {
    height: auto;
    padding: 10px 20px;

    .left-Header,
    .right-Header {
      width: 100%;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
    }

    .left-Header {
      margin-bottom: 8px;
      /* border: 1px solid white; */
      width: 50%;
      height: 42px;
      padding: 0.5rem;
    }

    .right-Header {
      /* border: 1px solid white; */
      margin-bottom: 0.7rem;
      width: 50%;
      height: 42px;
      /* height: auto; */
      padding: 1rem;
    }

    .input-with-icon {
      width: 100%;
      height: 5vh;
      /* border: 1px solid white; */
    }

    .input-Src {
      width: 15vw;
      margin-right: auto;
      display: none;
    }

    .icons-container {
      justify-content: center;
      gap: 1em;
      /* border: 1px solid white; */
    }

    .searchIcon {
      width: 60%;
      height: 100%;
      /* display: none; */
      /* border: 1px solid white; */
    }

    .title-Header {
      width: 100%;
      margin: 0;
      font-size: 1.5em;
      text-align: center;
      /* border: 1px solid white; */
    }

    .menu {
      display: block;
      margin-right: 1rem;
      /* border: 1px solid white; */
    }
  }
}

@media (max-width: 768px) {
  .header-container {
    height: auto;
    padding: 10px 20px;

    .left-Header,
    .right-Header {
      width: 100%;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
    }

    .left-Header {
      margin-bottom: 8px;
      /* border: 1px solid white; */
      width: 50%;
      height: 42px;
      padding: 0.5rem;
    }

    .right-Header {
      /* border: 1px solid white; */
      margin-bottom: 0.7rem;
      width: 50%;
      height: 42px;
      height: auto;
      /* padding: .2rem; */
    }

    .input-with-icon {
      width: 100%;
      height: 5vh;
      /* border: 1px solid white; */
    }

    .input-Src {
      width: 15vw;
      margin-right: auto;
      display: none;
    }

    .icons-container {
      justify-content: center;
      /* border: 1px solid white; */
    }

    .sino {
      height: 2rem;
      background-color: transparent;
      cursor: pointer;
    }

    .perfil {
      height: 2rem;
      background-color: transparent;
      cursor: pointer;
      border: none;
    }

    .searchIcon {
      margin-left: 160px;
      width: 1.5rem;
      height: 1.5rem;
      /* border: 1px solid white; */
    }

    .title-Header {
      width: 100%;
      margin: 0;
      font-size: 1.3em;
      text-align: center;
      /* border: 1px solid white; */
    }

    .menu {
      display: block;
      margin-right: 1rem;
      width: 2rem;
      /* border: 1px solid white; */
    }
  }
}

@media (max-width: 430px) {
  .header-container {
    /* flex-direction: column; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    position: relative;
    z-index: 3;
    /* padding: 0; */
    /* border: 1px solid white; */

    .left-Header,
    .right-Header {
      /* flex-direction: column; */
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: auto;
      gap: 0.5rem;
      /* margin: auto; */
    }

    .right-Header {
      margin-bottom: 0.7rem;
      /* border: 1px solid white; */
      display: flex;
      justify-content: space-between;
    }

    .icons-container {
      width: 40%;
      /* border: 1px solid white; */
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
    }

    .sino {
      height: 1.2rem;
      background-color: transparent;
      cursor: pointer;
    }
    .perfil {
      height: 1.2rem;
      background-color: transparent;
      cursor: pointer;
      border: none;
      padding: 0 0.5rem 0 0 ;
    }
    .input-with-icon {
      width: 100%;
      height: 5vh;
      margin-left: 1rem;
      padding: 0.5rem;
      /* border: 1px solid white; */
      /* display: none; */
    }
    .input-Src {
      width: 0.5rem;
      height: 0.5rem;
      margin: 0;
      display: none;
    }
    .title-Header {
      font-size: 1em;
    }

    .menu {
      display: block;
      margin-right: 0;
      /* border: 1px solid white; */
      width: 1rem;
    }

    .searchIcon {
      width: 1.2rem;
      height: 1.2rem;
      margin: 0;
      /* border: 1px solid white; */
    }
  }
}
