.filter-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 25px;
    border: none;
    width: 80%;
}

.filter-button .toggle {
    cursor: pointer;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding: 12px;
    border-radius: 25px;
    border: none;
    width: 70px;
    transition: width 0.5s ease;
}

.filter-button .toggle.open {
    cursor: pointer;
    width: 100%;
}

.filter-button .toggle span {
    display: inline-block;
    max-width: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

.filter-button .toggle.open span {
    max-width: 150px;
    opacity: 1;
}

.filter-button .toggle img {
    height: 20px;
}

.filter-button .checkbox {
    margin-left: 5px;
    margin-right: 5px;
}

.filter-button .submit {
    cursor: pointer;
    background-color: #012369;
    color: #fff;
    border: none;
    padding: 10px;
    margin: 10px 0;
    border-radius: 50px;
    border: none;
    width: 170px;
}

.filter-button .submit:hover {
    background-color: #2b3b5a;
}

.filter-button .filter-form {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

.filter-button .filter-form.open {
    max-height: 300px;
    opacity: 1;
    margin-top: 10px;
}
