.body-container {
  height: 100vh;
  display: flex;
  justify-content: space-around;

  /* Lado esquerdo da tela */
  .leftSide {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #f9f9ff;
    width: 50vw;
    text-align: center;

    .logoContainer {
      img {
        width: 60%;
      }
    }

    .buttonContainer {
      display: flex;
      justify-content: center;
      margin-bottom: 1.5vh;
      padding: 0 10vw;
      gap: 1em;
      width: 100%;

      .enterpriseButton {
        background-color: #ef6b01;
      }

      .enterpriseButton:hover {
        background: #ef6c018e;
      }

      .candidateButton {
        background-color: #ef6b01;
      }

      .candidateButton:hover {
        background: #ef6c018e;
      }

      .selected {
        background-color: #afafaf;
        cursor: default;
      }

      .selected:hover {
        background-color: #afafaf;
      }
    }

    .back-to-lp {
      margin: 1vh;
      color: #393939;

      a {
        color: black;
        font-weight: bold;
        font-style: italic;
        text-decoration: none;
        background: none;
        border: none;
        cursor: pointer;
        font-size: 105%;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }

  /* Lado direito da tela */
  .rightSide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50vw;
    padding: 0 5vw;
  }
}

@media (max-width: 768px) {
  .body-container {
    flex-direction: column;

    .leftSide {
      flex-direction: column;
      width: 100vw;
      padding: 0 10vw;

      .logoContainer {
        flex-direction: column;
        margin: 2em;
      }

      .buttonContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
        justify-content: space-around;

        .enterpriseButton {
          height: 6vh;
        }

        .candidateButton {
          height: 6vh;
        }
      }

      .back-to-lp {
        display: none;
      }
    }

    .rightSide {
      width: 100vw;
      padding: 0 10vw;
      margin: 0;
    }
  }
}

@media (max-width: 430px) {
  .body-container {
    flex-direction: column;

    .leftSide {
      flex-direction: column;
      width: 100vw;
      padding: 0 5vw;

      .logoContainer {
        flex-direction: column;
        margin: 2em;

        img {
          width: 100%;
        }
      }

      .buttonContainer {
        flex-direction: column;
        padding: 5vw;
        width: 100vw;

        .enterpriseButton {
          button {
            height: 10%;
          }
        }
      }
    }

    .rightSide {
      width: 100vw;
      padding: 0 5vw;
    }
  }
}
