.partinerCompanies {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.75rem;
}

.partinerCompanies .title {
    margin-top: 5rem;
    font-size: 2.5rem;
    font-weight: 500;
    align-items: center;
    text-align: center;
    width: 40%;
}

.partinerCompanies .gridCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin-bottom: 5rem;
}

.partinerCompanies .cardCompanie {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem 3.5rem;
    background-color: white;
    box-shadow: 6px 7px 28px -3px rgba(0,0,0,0.25);
    border-radius: 1.25rem;
}