.home {
    display: flex;
    flex-direction: column;
}

.home .filters-bar {
    z-index: 1;
    height: calc(100vh - 80px);
}

.home .leaflet-container {
    z-index: 0;
    height: calc(100vh - 80px);
    width: 100vw;
}