.home {
    display: flex;
    flex-direction: column;
}

.home .main-section {
    
}

.home .filters-bar {
    z-index: 1;
    height: calc(100vh - 80px);
}

.home .leaflet-container {
    z-index: 0;
    height: calc(100vh - 80px);
    width: calc(100vw - 150px);
    left: 150px;
}

.home .card-list {
    display: flex;
    flex-direction: column;
    z-index: 1;
    position: absolute;
    top: 100px;
    right: 1vw;
    gap: 20px;
}