.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 25px;
    border: none;
    max-width: 50px;
}

.button-container.open {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 25px;
    border: none;
    max-width: 100%;
}

.toggle {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding: 10px;
    border-radius: 50px;
    border: none;
    width: 70px;
    transition: width 0.5s ease;
    
}

.toggle.open {
    width: 200px;
}

.toggle img {
    height: 20px;
}

input {
    margin-left: 5px;
    margin-right: 5px;
}

.submit {
    background-color: #012369;
    color: #fff;
    border: none;
    padding: 10px;
    margin: 10px 0;
    border-radius: 50px;
    border: none;
    width: 170px;
}

.submit:hover {
    background-color: #2b3b5a;
}

.filter-form {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

.filter-form.open {
    max-height: 300px;
    opacity: 1;
}
