.header-container{
    width: 100%;
    height: 10%;
    background-color: #012369;
    display: flex;
    align-items: center;
    flex-flow: wrap
}

.left-Header{
    width: 40%;
    display: flex;
    align-items: center;
    color: white;
    gap: 7rem;
    margin-bottom: 3rem;
    display: flex;
}

.right-Header{
    width: 30%;
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
    display: flex;
}

.filterBtn{
    width: 15%;
    height: 3rem;
    display: flex;
    align-items: center;
    margin-top: 3.9rem;
    background-color:#259821 ;
    border-radius: 1rem;
    display: flex;
}

@media (max-width: 1008px) { /* Ajustar o breakpoint conforme necessário*/
    .left-Header {
      width: 100%;
      margin-bottom: 1rem;
    }
  
    .right-Header {
      width: 100%;
      margin-bottom: 1rem;
    }
  
    .filterBtn {
      width: 100%;
      margin-top: 0;
    }
  } 

.input-Src {
    width: 15rem;
    height: 2rem;
    border-radius: 1.5rem;
    margin-left: 10rem;
    padding: 1rem;
    border: none;
}

.menu{
    width: 2.5rem;
    margin-left: 1rem;
}

.sino{
    height: 2.5rem;
    margin-left: 11rem;
}

.perfil{
    width: 2.5rem;
    margin-left: 3rem;
}

.buttonFilter{
    width: 50%;
    height: 0.5rem;
    border-radius: 1rem;
    border: none;
    background-color: transparent;
    color: white;
    transition: background-color white 0.3s;
    cursor: pointer;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    padding: 1.5rem;
}

.iconFilter{
    width: 2rem;
    color: white;
}

.buttonFilter:hover {
    background-color: #e0e0e0;
    color: black;
    height: 0.5rem;
}
