button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8em;
    height: 48px;
    width: 30em;
    border-radius: 43rem;
    padding: 0 2rem;
    color: white;
    border: none;
    cursor: pointer;
    

    @media (max-width: 768px) {
      font-size: 0.7em;
  }
  }
  
img {
    width: 2em;
}
